
$main-color: #ab2000;
$icon-color: #c63635;
$link-color: #6a1211;
$border-color: #ff9594;
$search-result-desc-color: #fff4f4;
$table-row-hover: #ffdddd;
$table-row-highlight: #fff5e0;
$focus-color: #de8800;
$main-logo: "img/logo-mxrdr.svg";
$primefaces-main: "img/primefaces-main-mxrdr.png";
$dataverse-icon: "img/dataverse-icon-mxrdr.svg";
$ajax_spinner_filter: hue-rotate(140deg) saturate(2);
$dataverse-icon-mono: "\f202";
$main-logo-mono: "\f204";

@import "theme.scss"
